body {
    font-family: Arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: mediumpurple;
}

* {
    margin: 0px;
    padding: 0px;
}

#general {
    margin: auto;
    width: 960px;
    height: 860px;
    background-color: #D9F4FF;
}

#facturar {
    width: 500px;
    height: 130px;
    position: relative;
    left: 200px;
    top: 40px;
    border-radius: 30px;
    background-color: #83D2F3;
}
#bfacturar{
    position: relative;
    left: 65px;
}
h2{
    position: relative;
    left: 30px;
}
#gridview {
    width: 700px;
    height: 400px;
    position: relative;
    left: 100px;
    top: 50px;
    border-radius: 30px;
    background-color: #BFC9CA;
    border-style: solid;
}

#datagrid{
    position: relative;
    left: 50px;
    top: 35px;
}
.mydatagrid {
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}

.header {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

    .rows:hover {
        background-color: #ff8000;
        font-family: Arial;
        color: #fff;
        text-align: left;
    }

.selectedrow {
    background-color: #ff8000;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.mydatagrid a /** FOR THE PAGING ICONS **/ {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

    .mydatagrid a:hover /** FOR THE PAGING ICONS HOVER STYLES**/ {
        background-color: #000;
        color: #fff;
    }

.mydatagrid span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/ {
    background-color: #c9c9c9;
    color: #000;
    padding: 5px 5px 5px 5px;
}

.pager {
    background-color: #646464;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}
